<h1>=<%= "Name: #{@project.name}" %></h1>
<h2> "Material: <%= @project.material %>""</h2>

<%= "Challenge Theme: #{@project.challenge.theme}" %>
<p>
<%= "Number of Contestants: #{@project.contestants.length}"%>
</p>
